@orange: #f90;
@dark-blue: #07f;
@blue: #00f;
@red: #c00;
@yellow: yellow;
@green: green;
@indigo: #4b0082;
@violet: violet;
@bright-text: white;
@dark-text: darkgrey;

.light-text {
  color: @bright-text;
}
.dark-text {
  color: @dark-text;
}
.red {
  .light-text;
  background-color: @red;
}
.orange {
  .light-text;
  background-color: @orange;
}
.blue {
  .light-text;
  background-color: @blue;
}
ul > li,
ul > li > a {
  text-decoration: none; 
}
li {
  list-style: none;
}
.yellow {
  .dark-text;
  background-color: @yellow;
}
.green {
  .light-text;
  background-color: @green;
}
.indigo {
  .light-text;
  background-color: @indigo;
}
.violet {
  .light-text;
  background-color: @violet;
}
