.light-text {
  color: white;
}
.dark-text {
  color: darkgrey;
}
.red {
  color: white;
  background-color: #c00;
}
.orange {
  color: white;
  background-color: #f90;
}
.blue {
  color: white;
  background-color: #00f;
}
ul > li,
ul > li > a {
  text-decoration: none;
}
li {
  list-style: none;
}
.yellow {
  color: darkgrey;
  background-color: yellow;
}
.green {
  color: white;
  background-color: green;
}
.indigo {
  color: white;
  background-color: #4b0082;
}
.violet {
  color: white;
  background-color: violet;
}
