@orange: #f90;
@dark-blue: #07f;
@blue: #00f;
@red: #c00;
@yellow: yellow;
@green: green;
@indigo: #4b0082;
@violet: violet;

.red {
  color: @red;
}
.orange {
  color: @orange;
}
.blue {
  color: @blue;
}
ul > li,
ul > li > a {
  text-decoration: none; 
}
.yellow {
  color: @yellow;
}
.green {
  color: @green;
}
.indigo {
  color: @indigo;
}
.violet {
  color: @violet;
}
