.red {
  color: #c00;
}
.orange {
  color: #f90;
}
.blue {
  color: #00f;
}
ul > li,
ul > li > a {
  text-decoration: none;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}
.indigo {
  color: #4b0082;
}
.violet {
  color: violet;
}
